{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "plugins": ["@prettier/plugin-php"],
  "parser": "php",
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "phpVersion": "8.0",
        "braceStyle": "psr-2"
      }
    }
  ]
}